<!DOCTYPE html>
<html lang="en">
    {head}
    <body>
        {navbar}
        <div class="content">
            <h1>People whom have contributed to FOSSBots</h1>
            <ul>
                <li><a href="https://meta.miraheze.org/wiki/User:RyanK (FOSSBots)">Sario</a> - Director of Operations, Chair and Secretary to the Board</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:SamuelK (FOSSBots)">RhinosF1</a> - Software Engineering Lead</li><br/>
                <li><a href="https://meta.wikimedia.org/wiki/User:MacFan4000">MacFan4000</a> - Site Reliability Engineering Lead</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Zppix">Zppix</a> - Ethics Advisor, Project Founder and former Head of Operations</li><br/>
                <li><a href="https://github.com/hasandiwan">Hasan Diwan</a> - Business Advisor and Code Reviewer</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Void">Voidwalker</a> - Developer and Sysadmin</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Reception123">Reception123</a> - Former On-Call Sysadmin</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Paladox">Paladox</a> - Project Contributor</li><br/>
                <li>tom29739 - Former Developer</li><br/>
                <li>SwisterTwister - Former Web Designer</li><br/>
                <li>Phantom42 - Former Web Designer and Developer</li><br/>
                <li><a href="https://meta.miraheze.org/wiki/User:Dmehus">Doug</a> - Former Community Relations Specialist and PA to the Technology Department.</li><br/>
            </ul>
        </div>
    {footer}
    </body>
</html>
