<!DOCTYPE html>
<html lang="en">
    {head}
    <body>
        {navbar}
        <br/>
        <div class="content">
            If you would like FOSSBot in your channel, join <a href="irc://irc.libera.chat/#fossbots">#fossbots</a> and say .addchannel <br/>
            <h1> Version 9.1.5 of MirahezeBot is now here! </h1>
            <p> For more information please check out <a href="https://github.com/FOSSBots/FOSSBot/releases/tag/v9.1.5">the release tag</a> !!!</p><br/>
                <strong>Previous releases</strong>:<br/>
                <a href="https://pypi.org/project/mirahezebot-plugins">MirahezeBot Plugins</a><br/>
            <h1> Wiki </h1>
            <p> If you would like to contribute to the <a href="https://wiki.fossbots.org/wiki/">FOSSBots wiki</a>, simply create an account.</p>
        </div>
    {footer}
    </body>
</html>
