<!DOCTYPE html>
<html lang="en">
    {head}
    <body>
        {navbar}
        <br/>
        <div class="content">
            <h1> Terms of Use</h1>
            <p>By accessing this web site and/or its services, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trademark law.</p>
            <p>FOSSBots is a community project supporting the FOSS Community owned by FOSSBots LTD and operated by its users. FOSSBots LTD is a not-for-profit company limited by guarantee registered in England and Wales under registration number 14087570 at 35/37 Ludgate Hill, London, EC4M 7JN.</p>
            <h2>Privacy</h2>
            <p>You agree to read and accept the Privacy Policy.</p>
            <h2>Disclaimer</h2>
            <p>The materials on the web site are provided "as is". FOSSBots makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, FOSSBots does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
            <h2>Limitations</h2>
            <p>In no event shall FOSSBots or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption), arising out of the use or inability to use the materials on FOSSBots's Internet site, even if FOSSBots or a FOSSBots authorised representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
            <h2>Revisions and Errata</h2>
            <p>The materials appearing on FOSSBots's web site could include technical, typographical, or photographic errors. FOSSBots does not warrant that any of the materials on its web site are accurate, complete, or current. FOSSBots or its users may make changes to the materials contained on its web site at any time without notice. FOSSBots does not, however, make any commitment to update the materials.</p>
            <h2>Content</h2>
            <p>Under no circumstances are you permitted to submit information to FOSSBots which is illegal to display, distribute, or disseminate in the United Kingdom.</p>
            <h2>Access Restrictions</h2>
            <p>FOSSBots may modify, restrict, or prohibit your access to FOSSBots services at any time under our sole discretion. Common reasons include:</br>
                - Sending enough requests to MirahezeBots servers to degrade the service of others; or</br>
                - Conducting any activity on MirahezeBots which is illegal in the United Kingdom; or</br>
                - Excessive violation of this or other FOSSBots policies;</p>
            <h2>Providing Service</h2>
            <p>FOSSBots may, at its discretion, provide you with a platform within which you can host automation and tooling. You agree that these Terms create no obligation to continue any service we offer you. You agree to let our, our partners and appropriate providers personnel access, remove or modify content in violation of our policies at our sole discretion.</p>
            <h2>Providing Content</h2>
            <p>If you create or administrate anything on our platform, you are expected to ensure that it is in compliance with these Terms and our Privacy Policy. You acknowledge that anything that repeatedly violates this policy is subject to suspension, removal, and/or deletion by us, our partners or appropriate providers.</p>
            <h2>Extensions and Customization</h2>
            <p>As part of your service, you may request that FOSSBots install additional software to alter your bots' functionality. FOSSBots will attempt to review the software to the best of our efforts to ensure that they are appropriate for our overall security and will function within our technical limits. FOSSBots is not responsible for any data loss occurring as the result of software customization requested by users, and you agree not to hold FOSSBots or its agents liable for any damages resulting in the use of the software.</p>
            <p>Any customization you make to something we host must comply with FOSSBots' policy.</p>
            <h2>Termination</h2>
            <p>If the administrative staff of a service wishes to leave FOSSBots and terminate hosting, or if a bot is removed from service, FOSSBots may offer to provide data dumps of appropriate files if deemed appropriate at our best effort. We may refuse where we believe doing so will be a risk to users safety or privacy. These archives will be maintained at FOSSBots' sole discretion. FOSSBots may also permanently delete files at the request of the file owner or its representatives. You agree that any service you create may be deleted due to inactivity.</p>
            <h2>Jurisdiction</h2>
            <p>Any disputes and complaints between you and FOSSBots are under the exclusive jurisdiction of courts located within England and Wales.</p>
            <h2>Site Terms of Use Modifications</h2>
            <p>FOSSBots may revise these terms of use for its web site at any time without prior notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
            <h2>Definitions:</h2>
            <p> - You: the user of this website</br>
                - FOSSBots: The operators of this website, their personnel and volunteers</br>
                - Platform or service: Any software hosted with us that is maintained by one or more person(s)</br>
                - Material or content: Any data submitted to the FOSSBots website or service to be used in some manner.</p>
            </div>
    {footer}
    </body>
</html>
